name: Linting

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install Ruff
        run: pip install ruff

      - name: Run Ruff Check
        # This will fail the build if there are linting errors
        run: ruff check .

      - name: Run Ruff Format
        # This will fail the build if code isn't formatted correctly
        run: ruff format . --check